{% extends '../base/base.html' %}

{% block title %}
Upload The Text File
{% endblock title %}

{% block cssFile %}
/static/css/txt_Upload/txt_upload.css
{% endblock cssFile %}

{% block content %}
<div class="title_container">
  <h1>Upload The Text File</h1>
</div>
<div class="file_and_button_container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" multiple name="text_file" required/>
    <button type="submit">Submit</button>
  </form>
</div>

<p style="
display:{{error}};
align-itmes:center;
justify-content:center;
margin-top:1%;
color:red;
">
Please Check your text file or You were not uploaded 2 text files
</p>

{% for txt in txt_files %}
<hr>
<p>{{txt}}</p>
<hr>
{% endfor %}

<a href='/result' style="display:{{display}}"> click the Result </a>

{% endblock content %}